@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

body {
    font-family: "Montserrat", sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Big Shoulders Display", sans-serif;

}

.navbar_all {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #21402A;
    padding: 0 7%;
    position: sticky;
    top: 0;
    z-index: 454;
    padding-block: 5px;
    width: 100%;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.logo {
    height: 95px;
    width: 150px;
    background-image: url(../images/logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.mobile a {
    padding: 15px;
    color: #000;
    /* text-transform: uppercase; */
}

.mobile a:hover {
    color: #36d966;
}

#toggleButton {

    background-color: transparent;
    border: none;
}

#toggleButton i{
    color: #fff;
    font-size: 20px;
}

.mobile {
    display: none;
}

.mobile {
    position: absolute;
    top: 106px;
    z-index: 4554;
    left: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    display: none;
}

.mobile a {
    border-top: 2px solid #534f4f2a;
    width: 100%;
    padding: 0 10%;
    padding-block: 20px;
}


.menu img{
    width: 100%;
}

.map iframe{
    width: 100%;
}

footer{
    width: 100%;
    background-color: #21402A;
    padding-block: 40px;
    text-align: center;
    color: #fff;
}